.head{
    background-color: red;
    border: 2px solid black;
}

header{
      float: left;
  color: rgb(240, 0, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}